.user-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Затемненный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  width: 500px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-info {
  display: flex;
  flex-direction: column;
}

.modal-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.modal-exit {
  width: 40px;
  height: 40px;
}
.modal-exit:hover {
  cursor: pointer;
}

.name {
  display: flex;
  align-items: center;
  width: 392px;
  height: 30px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  margin-top: 5px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.info-labels {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-right: 40px;
}

.info-data {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8189a3;
  align-items: flex-start;
}

.additional-label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  color: #262c40;
}

.additional-data {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #8189a3;
}
